* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --pink: rgba(253, 214, 186, 1);
  --modal-linear-gradient: linear-gradient(
    180deg,
    #fefcf7 25%,
    rgba(254, 252, 247, 0.504981) 55.94%
  );

  --dark-cyan: #0e8784;
  --Dark-grey-blue: #333d4b;
  --Pale-orange: #fdd6ba;
  --light-cream: #fefcf7;
  --grey: #83888f;
  --dark-blue: #2c343e;

  /* hero section */

  /* create plan section */
  --create-plan-header-font-weight: 900;
  --create-plan-header-font-size: 1.8rem;
  --create-plan-header-line-height: 1;

  /* collections section */
  --collections-header-font-weight: 900;
  --collections-header-font-size: 1.5rem;
  --collections-header-line-height: 1.25;

  /* why choose us section */
  --why-choose-us-paragraph-font-size: 0.7rem;
  --why-choose-us-paragraph-line-height: 1.625;
  --why-choose-us-paragraph-font-weight: 400;
  --why-choose-us-subheader-font-size: 1.5rem;
  --why-choose-us-subheader-line-height: 1.25;
  --why-choose-us-subheader-font-weight: 900;

  --why-choose-us-font-family: "Barlow", sans-serif;

  /* how-it-works section  */
  --how-it-works-header-font-size: 1.5rem;
  --how-it-works-header-line-height: 1.25;
  --how-it-works-paragraph-font-size: 0.9rem;
  --how-it-works-paragraph-line-height: 1.8;
  --how-it-works-subheader-font-size: 1.75rem;
  --how-it-works-subheader-line-height: 1.15;
  --how-it-works-numbering-font-size: 4.5rem;
  /* footer section */
  --footer-text-font-weight: 700;
  --footer-text-font-size: 0.75rem;
  /* button */
  --btn-font-family: "Fraunces", serif;
  --btn-font-size: 1.125rem;
  --btn-font-weight: 900;
  --btn-text-color: var(--light-cream);
}
.overflow {
  overflow-y: hidden;
}
