.collection-section {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.subheader {
  text-align: center;
  color: var(--grey);
  font-size: var(--create-plan-header-font-size);
  font-weight: var(--create-plan-header-font-weight);

  /* background: var(--our-collection-linear-gradient); */
  /* fallback color */
  /* background-size: 100%;
  background-repeat: repeat;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent; */
}
.products {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}
@media (min-width: 640px) {
  .products {
    gap: 3rem;
  }

  .subheader {
    font-size: 5rem;
  }
}
@media (min-width: 1440px) {
  .products {
    display: grid;
    width: 80%;
    margin: auto;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
  }
}
