.commitment__div {
  margin: 8%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.img {
  max-inline-size: 100%;
  max-block-size: 25rem;
  object-fit: cover;
  border-radius: 10px;
  object-position: top center;
}
.text-div {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
}
.subheader {
  color: var(--Dark-grey-blue);
  font-family: var(--btn-font-family);
  font-size: var(--collections-header-font-size);
}
.description {
  font-size: var(--why-choose-us-paragraph-font-size);
  font-weight: var(--why-choose-us-paragraph-font-weight);
  line-height: var(--why-choose-us-paragraph-line-height);
  color: var(--grey);
  font-family: var(--why-choose-us-font-family);
  text-align: justify;
  max-inline-size: 66ch;
}
@media (min-width: 640px) {
  .commitment__div {
    flex-direction: row;
    gap: 4rem;
    margin: 12% 8%;
  }
  .text-div {
    align-items: flex-start;
    margin: auto;
  }
  .img {
    max-inline-size: 40%;
    max-block-size: 100%;
  }
  .subheader {
    font-size: var(--collections-header-font-size-tablet);
    text-align: left;
  }
  .description {
    font-size: var(--why-choose-us-paragraph-font-size-tablet);
  }
}
