.commitment__div {
  margin: 8%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.img {
  max-inline-size: 100%;
  max-block-size: 25rem;
  object-fit: cover;
  border-radius: 10px;
  object-position: top center;
}
.text-div {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  text-align: center;
}
.subheader {
  color: var(--Dark-grey-blue);
  font-family: var(--btn-font-family);
  font-size: var(--collections-header-font-size);
}
.description {
  font-size: var(--why-choose-us-paragraph-font-size);
  font-weight: var(--why-choose-us-paragraph-font-weight);
  line-height: var(--why-choose-us-paragraph-line-height);
  color: var(--grey);
  font-family: var(--why-choose-us-font-family);
  opacity: 0.8;
  max-inline-size: 66ch;
}
