.how-it-works {
  margin: 0 8%;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  align-items: center;
}
.subheader {
  color: var(--grey);
}
.steps {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
.create--plan--button {
  background-color: var(--dark-cyan);
  border: 1px solid var(--dark-cyan);
  color: var(--light-cream);
  border-radius: 8px;
  font-family: var(--btn-font-family);
  display: inline-flex;
  padding: 4% 8%;
  max-width: fit-content;
  font-weight: var(--btn-font-weight);
  font-size: var(--btn-font-size);
}
.step-bar {
  display: flex;
  width: 80%;
  height: 0.2rem;
  background-color: var(--pink);
  justify-content: space-between;
}
.circle {
  width: 1.6rem;
  height: 1.6rem;
  border-radius: 50%;
  background-color: white;
  border: 1px solid var(--dark-cyan);
  transform: translate(-2%, -50%);
}
.circle:last-child {
  transform: translate(6%, -50%);
}

@media (min-width: 640px) {
  .steps {
    display: flex;
    flex-direction: row;
    gap: 2rem;
  }
  .how-it-works {
    align-items: flex-start;
  }
  .create--plan--button {
    padding: 1rem;
  }
}
@media (min-width: 1440px) {
  .how-it-works {
    width: 70%;
    margin: auto;
  }
}
