.location-section {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  margin-bottom: 4rem;
}
.subheader {
  text-align: center;
  color: var(--grey);
  font-size: var(--create-plan-header-font-size);
  font-weight: var(--create-plan-header-font-weight);
}
.articles {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
@media (min-width: 640px) {
  .location-section {
    margin: 0 8% 4rem;
  }
  .articles {
    flex-direction: row;
    justify-content: space-between;
  }
  .subheader {
    text-align: left;
  }
}
