.icon {
  width: 8.5rem;
}
.icon.hamburger {
  height: 1rem;
  /* prevents hamburger icon from expanding to fill 100% width */
  display: inline-flex;
  max-width: fit-content;
}
.navbar-flex {
  display: flex;
  justify-content: space-between;
  padding: 2% 4%;
}
