.icon {
  width: 8.5rem;
}

.nav-icon {
  height: 1rem;
  /* prevents hamburger icon from expanding to fill 100% width */
  display: inline-flex;
  width: fit-content;
}
.navbar-flex {
  display: flex;
  justify-content: space-between;
  padding: 6% 8%;
}
.icon-div {
  display: inline-flex;
  max-width: fit-content;
  justify-content: flex-end;
}
.link {
  font-size: var(--footer-text-font-size);
  font-weight: var(--footer-text-font-weight);
  text-decoration: none;
  color: var(--grey);
  display: inline-flex;
  max-width: fit-content;
}
.links {
  display: flex;
  gap: 2rem;
  align-items: center;
}
@media (min-width: 640px) {
  .navbar-flex {
    padding: 3% 8%;
  }
  .icon {
    width: 10.5rem;
  }
}
