.product-article {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  width: 90%;
}
.product-img {
  max-width: fit-content;
  width: 50%;
}
.product-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}
.product-name {
  color: var(--Dark-grey-blue);
  font-size: var(--collections-header-font-size);
  font-family: var(--btn-font-family);

  display: inline-flex;
  width: fit-content;
}
.product-description {
  font-size: var(--how-it-works-paragraph-font-size);
  font-weight: var(--why-choose-us-paragraph-font-weight);
  line-height: var(--why-choose-us-paragraph-line-height);
  color: var(--Dark-grey-blue);

  text-align: center;
}
@media (min-width: 640px) {
  .product-article {
    flex-direction: row;
  }
  .product-description {
    text-align: left;
  }
  .product-name {
    display: block;
    width: 100%;
    text-align: left;
  }
}
@media (min-width: 1440px) {
  .product-article {
    flex-direction: column;
    justify-content: stretch;
  }
  .product-description,
  .product-name {
    text-align: center;
  }

  .product-name {
    font-size: clamp(2rem, 0.2rem + 2vw, 3rem);
  }
}
