.quality-section {
  margin: 20% 8%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  gap: 3rem;
  background-color: var(--dark-blue);
}
.img {
  max-inline-size: 50%;
  transform: translateY(-50%);
  margin-bottom: -5rem;
  object-fit: cover;
  border-radius: 10px;
  object-position: top center;
}
.text-div {
  padding: 8% 6%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
}
.subheader {
  font-weight: var(--create-plan-header-font-weight);
  font-size: 1.6rem;
  line-height: var(--create-plan-header-line-height);
  color: var(--light-cream);
  font-family: "Fraunces", serif;
  text-align: justify;
}
.paragraph {
  font-size: var(--why-choose-us-paragraph-font-size);
  font-weight: var(--why-choose-us-paragraph-font-weight);
  line-height: var(--why-choose-us-paragraph-line-height);
  color: var(--light-cream);
  max-inline-size: 66ch;
  opacity: 0.8;
  font-family: var(--why-choose-us-font-family);
  text-align: justify;
}
@media (min-width: 640px) {
  .quality-section {
    gap: 0rem;
    margin: 13rem 8% 6rem;
  }
  .img {
    max-inline-size: 75%;
  }
}
