.step {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  align-items: center;
}
.number {
  color: var(--pink);
  font-family: var(--btn-font-family);
  font-weight: var(--collections-header-font-weight);
  font-size: 3.5rem;
  line-height: 1;
}

.subheader,
.subscribe-subheader {
  font-weight: var(--collections-header-font-weight);
  font-family: var(--btn-font-family);
  text-align: center;
}
.subheader {
  color: var(--Dark-grey-blue);
}
.subscribe-subheader {
  color: var(--light-cream);
}
.description,
.subscribe-description {
  font-size: var(--how-it-works-paragraph-font-size);
  font-weight: var(--why-choose-us-paragraph-font-weight);
  line-height: var(--why-choose-us-paragraph-line-height);
  text-align: justify;
}
.description {
  color: var(--Dark-grey-blue);
}
.subscribe-description {
  color: var(--light-cream);
}
@media (min-width: 640px) {
  .step {
    align-items: flex-start;

    justify-content: space-between;
  }

  .subheader,
  .subscribe-subheader,
  .description,
  .subscribe-description {
    text-align: left;
    font-size: var(--how-it-works-paragraph-font-size-tablet);
    max-inline-size: 66ch;
  }
  .description {
    height: 14.625rem;
  }
  .subscribe-description {
    height: 16.25rem;
  }
  /* .subheader,
  .subscribe-subheader {
    height: 3.7rem;
  } */
}
@media (min-width: 800px) {
  .subscribe-description,
  .description {
    height: 13rem;
  }
}
@media (min-width: 900px) {
  .subscribe-description,
  .description {
    height: 11.4rem;
  }
}
@media (min-width: 1000px) {
  .subscribe-description,
  .description {
    height: 9.75rem;
  }
}
@media (min-width: 1100px) {
  .subscribe-description,
  .description {
    height: 8.1rem;
  }
}
@media (min-width: 1100px) {
  .subscribe-description,
  .description {
    height: 6.5rem;
  }
}
