.subscribe-modal {
  display: flex;
  flex-direction: column;

  position: absolute;
  border-radius: 4px;
  width: 80vw;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  z-index: 1;

  background-color: white;
}

.subheader {
  padding: 6%;
  background-color: var(--Dark-grey-blue);
  font-weight: var(--create-plan-header-font-weight);
  font-size: var(--btn-font-size);
  line-height: var(--create-plan-header-line-height);
  color: var(--light-cream);
  font-family: "Fraunces", serif;
  width: 100%;
}
.summary {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 2% 5%;
  block-size: 100%;
  justify-content: space-around;
}
.order-summary {
  font-weight: var(--collections-header-font-weight);
  font-family: var(--btn-font-family);
  line-height: 1.6;
  color: var(--grey);
  font-size: 1.2rem;
}
.variable {
  color: var(--dark-cyan);
}
.confirm-paragraph {
  font-size: var(--why-choose-us-paragraph-font-size);
  font-weight: var(--why-choose-us-paragraph-font-weight);
  line-height: var(--why-choose-us-paragraph-line-height);
  color: var(--grey);

  opacity: 0.8;
  font-family: var(--why-choose-us-font-family);
}

.create--plan--button {
  background-color: var(--dark-cyan);
  border: 1px solid var(--dark-cyan);
  color: var(--light-cream);
  border-radius: 8px;
  font-family: var(--btn-font-family);

  padding: 4% 8%;
  font-weight: var(--btn-font-weight);
  font-size: 0.9rem;
}
.inverted-commas {
  font-size: var(--why-choose-us-subheader-font-size);
}
@media (min-width: 1440px) {
  .subscribe-modal {
    gap: 1rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30rem;
    margin: 0;
  }
  .summary {
    gap: 1.5rem;
  }
}
